<div id="warning" style="display:none">
  <h2>Internet Explorer 8 or greater is currently required for this site.</h2>
  <h2>You really shouldn't use Internet Explorer anyways. Try <a href="https://www.google.com/chrome/browser/">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</h2>
</div>
<div id="substance">
  <form class="form-signin" role="form" name="loginForm" action="/radsearch/login" method="post">
    <h2 class="form-signin-heading">Please sign in"</h2>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<!--[if lt IE 8]>
  <script>$('#warning').show();$('#substance').hide();</script>
<![endif]-->
